<div class="jumbotron">
    <h1>Professor Group</h1>
    
</div>

<div class="container">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Available School</th>
                <th>Status of Bid(s)</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A1-Capstone Design Expo Web-App</td>
                <td>
                    CS
                </td>
                <td>3</td>
                <td>Assigned</td>
            </tr>
           
            <tr>
                <td>A2-CSF Bobby Jones Classic Cart</td>
                <td>
                    ECE, ID, ME, BME
                </td>
                <td>2</td>
                <td>Approved, Wait for bids</td>
            </tr>
            <tr>
                <td>A1-Capstone Design Expo Web-App</td>
                <td>
                    ECE, CS
                </td>
                <td>1</td>
                <td>Wait for approval</td>
            </tr>
            <tr>
                <td>A10-Feedback Control system for brake fluid motors</td>
                <td>
                    ID, ME
                </td>
                <td>7</td>
                <td>Approved, Wait for bids</td>
            </tr>
            <tr>
                <td>A1-Capstone Design Expo Web-App</td>
                <td>
                    CS
                </td>
                <td>3</td>
                <td>Assigned</td>
            </tr>
            <tr>
                <td>F2-Design of an all-in-one device for single port access </td>
                <td>
                    ECE, ME, CS
                </td>
                <td>3</td>
                <td>Wait for Bids</td>
            </tr>
            <tr>
                <td>F2-Design of an all-in-one device for single port access </td>
                <td>
                    ECE, ME, CS
                </td>
                <td>3</td>
                <td>Wait for Bids</td>
            </tr>
            <tr>
                <td>A1-Capstone Design Expo Web-App</td>
                <td>
                    CS
                </td>
                <td>3</td>
                <td>Assigned</td>
            </tr>
            <tr>
                <td>A1-Capstone Design Expo Web-App</td>
                <td>
                    CS
                </td>
                <td>3</td>
                <td>Assigned</td>
            </tr>

           
        </tbody>
    </table>

</div>