<div class="jumbotron">
    <h1>Project Management Page</h1>
    
</div>

<div class="container">
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <th>Project Name</th>
                <th>Client</th>
                <th>Status</th>>
            </tr>
            <tr>
                <td>Project 1</td>
                <td>John Doe</td>
                <td><span class="label label-success">Assigned to Student</span></td>
            </tr>
            <tr>
                <td>Project 2</td>
                <td>Mike Doe</td>
                <td><span class="label label-danger">Canceled</span></td>
            </tr>
            <tr>
                <td>Project 3</td>
                <td>Sally Doe</td>
                <td><span class="label label-primary">Wait for Approval</span></td>
            </tr>
            <tr>
                <td>Project 4</td>
                <td>John Doe</td>
                <td><span class="label label-success">Assigned to Student</span></td>
            </tr>
        </table>
    </div><!-- /.box-body -->


</div>